body{
    margin:0;
    padding: 0;
    box-sizing: border-box;
  
}

  


   

 hello{
   height: max-content;
   width: max-content;

}


.new-img{
    width: 80px;
    height: 80px;
   
    float:left;
   
    
    
  


    
}
.new-imgh{
    width: 80px;
    height: 80px;
   
   
    float: left;
   
    margin: 10px;
   


}
.id{
    width: 80px;
    height:80px;
}
.imgh{
     width: 1200;

}





